{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
   <div class="container" >
        <h1 class="mb-4">Création de compte</h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.email,{
                'attr':{'class': 'mb-3','placeholder': 'Email'}
            }) }}
            {{ form_widget(registrationForm.firstName,{'attr':{'class': 'mb-3', 'placeholder': 'Nom'}
            }) }}
            {{ form_widget(registrationForm.lastName ,{'attr':{'class': 'mb-3', 'placeholder': 'Prénom'}
            }) }}
            {{ form_widget(registrationForm.phoneNumber ,{'attr':{'class': 'mb-3', 'placeholder': 'Numéro de téléphone'}
            }) }}
            {{ form_widget(registrationForm.plainPassword, {
               'attr':{'class':'mb-3','placeholder': 'Mot de passe'}
            }) }}
            {{ form_widget(registrationForm.agreeTerms, {'label': "Veuillez accepter les conditons d'utilisation"}) }}

            <button type="submit" class="btn btn-success mt-4">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
