{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<div class="container">
		<h1>📚 Catalogue des Livres</h1>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Titre</th>
					<th>Auteur</th>
					<th>Résumé</th>
					<th>Isbn</th>
					<th>Stock</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<td><img class="imgBookIndex" src="{{ asset('images/'~book.image)}}" class="imgbook card-img-top" alt="image des livres"></td>
						<td>{{ book.titre }}</td>
						<td>{{ book.auteur }}</td>
						<td>{{ book.resume |slice(0,60)}}...</td>
						<td>{{ book.isbn }}</td>
						<td>{{ book.stock }}</td>
						<td>
							{% if book.stock > 0 %}
								<a class="btn btn-outline-primary" href="{{ path('app_emprunt_new', {'id': book.id}) }}">Emprunter</a>
							{% else %}
								<button class="btn btn-secondary" disabled>Victime de son succès</button>
							{% endif %}
							<a class="btn btn-outline-primary" href="{{ path('app_book_show', {'id': book.id})}}">Voir</a>
							{% if is_granted('ROLE_EDITOR') %}
								<a class="btn btn-outline-success" href="{{path('app_book_edit', {'id': book.id})}}">Modifier</a>
								<a class="btn btn-danger" href="{{path('app_book_delete', {'id': book.id})}}">Supprimer</a>
							{% endif %}
						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas de livre trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_EDITOR') %}
			<a class="btn btn-outline-primary" href="{{ path('app_book_new') }}">Ajouter un nouveau livre</a>
		{% endif %}
	</div>
{% endblock %}
