{% extends 'base.html.twig' %}

{% block title %}Détails du livre
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Fiche détaillée du livre</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<img class="imgShow" src="{{ asset('images/'~book.image)}}" class="imgbook card-img-top" alt="image des livres">
			</div>
		</div>

		<div class="col-md-8">
			<h2>Titre :
				{{ book.titre }}</h2>
			<p>
				Auteur :
				{{ book.auteur }}</p>
			<p>
				Résumé :
				{{ book.resume }}
			</p>
			<p>
				Statut :
				{% if book.stock > 0 %}
					<span class="badge bg-success">Disponible</span>
				{% else %}
					<span class="badge bg-danger">Indisponible</span>
				{% endif %}
			</p>

			<a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à la liste</a>
			{% if book.stock > 0 %}
				<a href="{{ path('app_emprunt_new', {'id': book.id}) }}" class="btn btn-primary">
					Emprunter ce livre
				</a>
			{% else %}
				<button class="btn btn-primary" disabled>Victime de son succès</button>
			{% endif %}
		</div>
	</div>
</div>{% endblock %}
